//reset style
html{
    *{
        // transition: $default_transition;
        box-sizing: border-box;
    }
    body{
        font-size: $size_default;
        font-family: $primary_font;
        padding: 0;
        margin: 0;
        min-height: 100vh;
        font-family: $primary_font;
        color: var(--text_primary_color);
        background-color: var(--pure_white);
        //headlines
        h1,h2,h3,h4,h5,h6{
            margin-top: 0;
        }
        h1{
            font-size: $size_28px;
        }
        h2{
            font-size: $size_24px;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
            }
        }
        a{
            text-decoration: none;
            display: inline-block;
        }
        span{
            display: inline-block;
        }

        //forms
        label{
            font-size: $size_14px;
            padding-bottom: 8px;
            display: inline-block;
            color: var(--text_light_color);
        }
        input, select, textarea {
            border: $border_default;
            background-color: var(--lighter_color);
            padding: 12px;
            border-radius:4px;
            font-size: $size_16px;
            padding: 16px;
            min-width: 100%;
            &:focus{
                border-color: var(--primary_color);
                outline: none;
                & + label{
                    top: -50%;
                    left: 0;
                }
            }
            &:not(:placeholder-shown){
                & + label{
                    top: -50%;
                    left: 0;
                }
            }
            &.input{
                &-small{
                    label{
                        font-size: $size_14px;
                        left: 12px;
                    }
                    input{
                        font-size: $size_14px;
                        padding: 12px;
                    }
                }
                &-medium{
                    label{
                        font-size: $size_24px;
                        left: 16px;
                    }
                    input{
                        font-size: $size_24px;
                        padding: 16px;
                    }
                }
                &-large{
                    label{
                        font-size: $size_28px;
                        left: 24px;
                    }
                    input{
                        font-size: $size_28px;
                        padding: 24px;
                    }
                }
            }
            &.inline{
                flex-direction: initial;
                input{
                    flex-grow: 1;
                }
            }
        }

        .input-wrapper{
            padding: 8px 0;
        }

        //structure
        .container{
            max-width: 1280px;
            margin: auto;
            padding: 0 20px;
            &__fluid{
                max-width: 100%;
                padding: 0 40px;
                @media (max-width: $br_mobile){
                    padding: 0 20px;
                }
            }
            &__fit{
                max-width: fit-content;
                padding: 0 20px;
            }
        }

        //atributes
        *[title]{
            position: relative;
            display: flex;
            justify-content: center;
            &:after {
                background-color: var(--pure_black);
                color: var(--pure_white);
                font-size: $size_12px;
                padding: 4px 8px;
                border-radius: 4px;
                box-shadow: $default_box_shadow;
                display: inline-block;
                content: attr(title);
                position: absolute;
                top: 100%;
                left: 0;
                transition: $default_transition;
                opacity: 0;
            }
            &:hover{
                &:after {
                    opacity: 1;
                    top: 110%;
                }
            }
        }
    }
}
